<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Josh's Chickehn Stratch from Learning</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <h1>All my notes from this journey</h1>
  <h3><a href="index.html">Home</a> <a href="experience.html">Working on Expereinces</a> <a href="contacts.html">Contact Me</a> <a href="notes.html">Chicken Skratches</a></h3>
  <p>This stuff might not make sense to you, but it does to me!</p>
  <p>The different types of types for forms.</p>
  <form>
    <input type="text" name="" value=""><br>
    <input type="submit" name="" value=""><br>
    <input type="file" name="" value=""><br>
    <input type="date" name="" value=""><br>
    <input type="radio"><br>
    <input type="range" name="" value=""><br>
  </form>
</body>

</html>
