<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Josh's Hobbies</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Montserrat&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="contents">
      <h3>
        <a href="/index.html">Home</a>
        <a href="/templates/reads.html">Reading List</a>
        <a href="/templates/experience.html">Experience</a>
        <a href="/templates/mech.html">MECH 460</a>
      <h3>
    </div>
    <div class="book-container">
      <div class="book-title">
        <h1>Books I've Read</h1>
      </div>
      <h2>2022</h2>
      <li>The Devil's Playbook - Etter</li>
      <li>Has China Won - Mahbubani</li>
      <h2>2021</h2>
      <li>Billion Dollar Whale - Wright & Hope</li>
      <li>Shoe Dog - Knight</li>
      <li>Skin in the Game - Taleb</li>
      <li>When Breath Becomes Air - Kalanithi</li>
      <h2>2020</h2>
      <li>Educated - Westover</li>
    </div>
  </body>
</html>
